extends pug/base

prepend vars
  - title = 'Projects'
  - activePage = 'projects'
  -
    projects = [
      {
        logo: "images/rtkit.png",
        company: "Rostelecom",
        link: "https://rtkit.ru",
        background: "holocene"
      },
      {
        name: "Internal records system (Knowledge management system)",
        stack: "React, Redux, CKEditor 4.0.",
        info: "Develop new features, update UI-kit, bugfixes, code reviews. Reimplement legacy parts of the application to a new approach and code style. Collaborate with the design team to ensure smooth planning and implementation for a user-friendly interface.",
        date: "18-02-2022 - now"
      },
      {
        logo: "images/sl.svg",
        company: "Seller Labs",
        link: "https://www.sellerlabs.com",
        background: "miocene"
      },
      {
        name: "Seller Labs PRO",
        stack: "React, Redux, Jest, Material UI, Ramda",
        info: "Develop new features and maintain a stable codebase for the Amazon seller application (feedback automation, advertisement optimization, competitor analysis, statistics etc) using React, Redux, Jest, Material UI. Refactor old code (class components to functional, styles etc), update material ui v0 to v4), code reviews, tests.",
        date: "02-2020 - 09-2021"
      },
      {
        logo: "images/freelance.svg",
        company: "Freelance",
        info: "Freelance projects from Upwork mostly",
        link: "https://www.upwork.com/o/profiles/users/_~010753d24a0e98f608",
        background: "cretaceous"
      },
      {
        name: "NDA",
        stack: "React, Redux, react-router, Swiper",
        info: "3 projects. 60h+ each. Develop new pages, refactor old markup, bugfixes",
        date: "07-2021-12-2021"
      },
      {
        name: "NDA",
        stack: "Pug, SCSS, jQuery, UIkit 3, Swiper, animate.css, Fullpage.js, scrollmagic, svg-sprite",
        info: "30+ projects, 40h+ each. Manage team of 2-3 html developers on 10+ projects.",
        date: "2019-2022"
      },
      {
        name: "NDA",
        stack: "Storybook, React, SCSS",
        info: "UIkit development (30+ components) with Storybook including stylization of vendor React libraries (react-day-picker, react-select, react-modal etc.)",
        date: "2019"
      },
      {
        name: "Random stuff: Hartekamp Groep, Maarsen Groep, Veel in Hout, Glasbeek, Nexios, Coretag, Zilter, A Plastic Ocean Foundation, Globe Creative, Mediabox Productiions etc",
        stack: "Gulp, Pug, SCSS, jQuery, jQuery, Typo3 CMS, Vue2",
        info: "7 projects, 40h+ each. 3 projects with GooglePageSpeed > 95 requirement, parallax effects, refactoring, crossbrowser fixes (Edge, Safari, Firefox). Detailed HTML, CSS, JS reviews of 3 projects (one made with React) in English, 200+ notes in total. Vue 2 (Markup mostly with some simple tasks).",
        date: "2019-2022"
      },
      {
        logo: "images/ss.svg",
        company: "SimbirSoft",
        background: "jurassic"
      },
      {
        name: "Social net for IT company, Task manager, Jewelry shop",
        stack: "Typescript, React 15, Redux, Saga, atomic design",
        info: "Develop various forms with validation, product list, product page, cart etc.",
        date: "09-2019 - 12-2020"
      },
      {
        name: "English learning education platform, Rosbank",
        stack: "React, Redux, Stylus",
        info: "Develop new pages, update UIkit components",
        date: "05-2019 - 09-2019"
      },
      {
        name: "Random stuff",
        stack: "JS, jQuery, Angular.js, Angular 5, Less, Grunt, Foundation, Pug, SCSS, XML",
        info: "Online MMORPG items store: develop new pages, update items filtering, add price calculations based on various params (discount, sale, VIP status, amount of items etc). Aktion: develop Emails with Foundation for Emails boilerplate. SimbirSoft site. Delo bank: developed UI-kit in a team of 8 frontend developers, updated code style consistency. Real estate agency: develop Table of house's apartments, floors, doorways with add/edit/remove feature. Add/Remove a new column or row based on previous one. Generate table from JSON (including various complex conditions in nested objects) with sorting. Internal project estimation app, Human Resource management app: some Angular.js tasks.",
        date: "04-2018 - 04-2019"
      },
      {
        logo: "images/cat-paw.svg",
        company: "Pet projects",
        info: "Pet projects and test assignments",
        background: "triassic"
      },
      {
        name: "Pet project 'Beat'em Up World'",
        stack: "Typescript, React 16, Redux, SCSS, react-router, Discqus, Recharts, Swiper, svg-sprite",
        info: "Filter by game features, A-Z. Search by name. Detail pages, image/video sliders, disqus comments, charts, tooltips,",
        date: "2020-2023"
      },
      {
        name: "Pet project 'Sleeping Dogs Super Hacker'",
        stack: "Typescript, React 18, MobX, SCSS, Firebase (Firestore), react-router, ramda, i18next",
        info: "Implementaion of Bulls and Cows variation. WASD/Arrows are used to navigate and increase/decrease digits. Press Enter to check validity. Submit Form to save Highscores (name, company, score, code, used attempts amount, comment, time, date). Stats: wins, losts, average time, average attempts. English and Russian translations.",
        date: "2021-2023"
      },
      {
        name: "Ecwid Image Gallery",
        stack: "React 16, SCSS",
        info: "All images in one row have the same height, preserve their ratios and fit container width. Upload image or json via drag and drop or URL.",
        date: "2021"
      },
      {
        name: "Pet project 'Disciples II town builder'",
        stack: "Gulp, Pug, SCSS, JS, FileSaver.js, html-to-image, lazysizes",
        info: "Recreation of town builder from the Disciples II: Rise of the Elves videogame. Features: toggle image buildings, save to file, lazy loading",
        date: "2020"
      },
      {
        logo: "images/ritg.png",
        company: "Russian IT Group",
        background: "neoarchean"
      },
      {
        name: "RITG site, Medprofi, Belan, Crazy Beach, Ulyanovsk Oblast Corporate University",
        stack: "Gulp/Grunt, Pug, Less/SCSS, Bootstrap 4, JS, jQuery, iconfont",
        info: "Participated in 5+ projects. Developed frontend in a team of 2 backend developers (Bitrix). Implemented usage of Gulp boilerplate. Teached some students modern frontend workflow as part of their university intenship.",
        date: "04-2016 - 11-2016"
      },
      {
        logo: "images/lightning.jpg",
        company: "Kontora",
        background: "eoarchean"
      },
      {
        name: "Sokolov jewelry, Gobza Pump equipment, Olymp Sports shop, Antipinsky Refinery",
        stack: "Gulp, Pug, Less, JS, jQuery, Bootstrap 3, iconfont, google maps",
        info: "Participated in 5 projects. Worked in a team of 2-4 html developers. Managed content in NetCat CMS. Teached some newcomers everything I learnt by that time.",
        date: "09-2015 - 03-2016"
      },
    ]
append vars

block content
  section.section
    .container
      h1.h1 Projects
    ul.project-list
      each project in projects
        if (project.company)
          li.project-list__item(class=`project-list__item--company background-${project.background}`)
            .project
              .project__name
                a(href= project.link, target="_blank", rel="noopener noreferrer") 
                  img.project__logo(src= project.logo alt="company logo.")
              .project__info= project.info
              .project__date= project.date

        else
          li.project-list__item
            .project
              .project__name
                p= project.stack
              .project__info
                h3= project.name
                p= project.info
              .project__date= project.date
    .container
      p By the way, colors are from geologic timescale.