extends pug/base

prepend vars
  - title = 'Projects'
  - activePage = 'projects'
  -
    projects = [
      {
        logo: "images/rt.svg",
        company: "Rostelecom"
      },
      {
        name: "Internal records system (Knowledge management system)",
        stack: "React, Redux, CKEditor 4.0.",
        info: "Develop new features, update UI-kit, bugfixes, code reviews. Reimplement legacy parts of the application to a new approach and code style. Collaborate with the design team to ensure smooth planning and implementation for a user-friendly interface",
        date: "18-02-2022 - now"
      },
      {
        logo: "images/sl.svg",
        company: "Seller Labs"
      },
      {
        name: "Seller Labs PRO",
        stack: "React, Redux, Jest, Material UI, Ramda",
        info: "Develop new features and maintain a stable codebase for the Amazon seller application (feedback automation, advertisement optimization, competitor analysis, statistics etc) using React, Redux, Jest, Material UI. Refactor old code (class components to functional, styles etc), update material ui v0 to v4), code reviews.",
        date: "02-2020 - 09-2021"
      },
      {
        logo: "images/freelance.svg",
        company: "Freelance",
        info: "Freelance projects from Upwork mostly",
        date: "2018 - 2022"
      },
      {
        name: "NDA",
        stack: "React, Redux, react-router, Swiper",
        info: "3 projects. 60h+ each. Develop new pages, refactor old markup, bugfixes",
        date: "07-2021-12-2021"
      },
      {
        name: "NDA",
        stack: "Pug, SCSS, jQuery, UIkit 3, Swiper, animate.css, Fullpage.js, scrollmagic, svg-sprite",
        info: "30+ projects, 40h+ each. Manage team of 2-3 html developers on 15+ projects.",
        date: "2019-2022"
      },
      {
        name: "NDA",
        stack: "Storybook, React, SCSS",
        info: "UIkit development with Storybook including stylization of vendor React libraries (react-day-picker, react-select, react-modal etc.)",
        date: "2019"
      },
      {
        name: "A Plastic Ocean Foundation, Globe Creative, Mediabox Productiions",
        stack: "JS, jQuery, Pug, SCSS, rellax.js",
        info: "3 projects with GooglePageSpeed > 95 requirement, parallax effects, old code refactoring",
        date: "2019"
      },
      {
        name: "prowin, hallo ostalb",
        stack: "HTML, CSS, jQuery, Typo3 CMS",
        info: "Bugfixes, crossbrowser fixes (Edge, Safari, Firefox), update meganav functionality etc.",
        date: "2019"
      },
      {
        name: "HTML, CSS, JS reviews",
        stack: "",
        info: "Detailed HTML, CSS, JS reviews of 3 projects (one made with React) in English, 200+ notes in total",
        date: "2019"
      },
      {
        name: "Hartekamp Groep, Maarsen Groep, Veel in Hout, Glasbeek, Nexios, Coretag, Zilter",
        stack: "Gulp, Pug, SCSS, jQuery, Swiper",
        info: "7 projects, 40h+ each",
        date: "2019-2022"
      },
      {
        name: "Finers",
        stack: "Vue 2",
        info: "Markup mostly with some simple tasks.",
        date: "2018"
      },
      {
        logo: "images/cat-paw.svg",
        company: "Pet projects",
        info: "Pet projects and test assignments",
        date: "2018 - 2022"
      },
      {
        name: "Pet project 'Beat'em Up World'",
        stack: "Typescript, React, Redux, SCSS, react-router, Discqus, Recharts, Swiper, svg-sprite",
        info: "Filter by game features, A-Z. Search by name. Detail pages, image/video sliders, disqus comments, charts, tooltips,",
        date: "2020-2022"
      },
      {
        name: "Pet project 'Sleeping Dogs Super Hacker' - Bulls and Cows variation",
        stack: "Typescript, React 16.3, MobX, SCSS, Firebase (Firestore), react-router, ramda",
        info: "Guess 4 unique digits. Yellow - Invalid placement, Red - Invalid digit, Green - Valid digit. WASD/Arrows are used to navigate and increase/decrease digits. Press Enter to check validity. Submit Form to save Highscores (name, company, score, code, used attempts amount, comment, time, date). Stats: wins, losts, average time, average attempts",
        date: "2021-2022"
      },
      {
        name: "Ecwid Image Gallery",
        stack: "React 16.3, SCSS",
        info: "",
        date: "2021"
      },
      {
        name: "Pet project 'Disciples II town builder'",
        stack: "Gulp, Pug, SCSS, JS, FileSaver.js, html-to-image, lazysizes",
        info: "Recreation of town builder from the Disciples II: Rise of the Elves videogame. Features: toggle image buildings, save to file, lazy loading",
        date: "2020"
      },
      {
        name: "5 small mini console games",
        stack: "JS",
        info: "From Hexlet Front-end course",
        date: "2021"
      },
      {
        logo: "images/ss.svg",
        company: "SimbirSoft"
      },
      {
        name: "Social net for IT company",
        stack: "Typescript, React, Redux, Saga",
        info: "Develop various forms with validation, product list, product page, cart (add/remove, increment/decrement, store saved etc)",
        date: "2020"
      },
      {
        name: "Online MMORPG items store",
        stack: "jQuery",
        info: "Develop new pages, update items filtering, add price calculations based on various params (discount, sale, VIP status, amount of items etc).",
        date: "2019"
      },
      {
        name: "English learning education platform",
        stack: "React, Redux, Stylus",
        info: "Develop new pages, update UIkit components",
        date: "02-2018"
      },
      {
        name: "Rosbank",
        stack: "React, Redux, Stylus",
        info: "New pages, Update UIkit components",
        date: "02-2018"
      },
      {
        name: "Jewelry shop",
        stack: "React 15, atomic design, Sugar SS",
        info: "Develop new pages, bugfixes",
        date: "02-2018"
      },
      {
        name: "Aktion",
        stack: "XML, Less, Grunt, SVN, JS",
        info: "My first and I hope the last experience with SVN.",
        date: "02-2018"
      },
      {
        name: "Employee inner portal",
        stack: "Less, Foundation",
        info: "Develop Emails with Foundation for Emails boilerplate",
        date: "01-2018"
      },
      {
        name: "Task manager",
        stack: "React 15",
        info: "Develop new pages, bugfixes",
        date: "12-2017"
      },
      {
        name: "Human Resource management app",
        stack: "Angular.js",
        info: "Markup mostly and some simple tasks",
        date: "11-2017"
      },
      {
        name: "SimbirSoft site",
        stack: "Pug, SCSS, jQuery",
        info: "10+ pages",
        date: "10-2017"
      },
      {
        name: "NDA",
        stack: "HTML, CSS, jQuery, PHP",
        info: "Adaptive of old static site, fix bugs in legacy jQuery",
        date: "09-2017"
      },
      {
        name: "Delo bank",
        stack: "Less, Angular 5+",
        info: "Develop UI-kit in a team of 10+ frontend developers, update site consistency",
        date: "04-2017 - 09-2017"
      },
      {
        name: "IT development fund of Ulyanovsk oblast",
        stack: "HTML, CSS, JS",
        info: "Develop new pages, bugfixes",
        date: "03-2017"
      },
      {
        name: "Real estate agency",
        stack: "jQuery",
        info: "Develop Table of house's apartments, floors, doorways with add/edit/remove feature. Edit apartment's info: number, sale status etc. Add/Remove a new column or row from previous one. Generate table from JSON (including various complex conditions in nested objects) with sorting.",
        date: "01-2016 - 03-2017"
      },
      {
        name: "Aktion portal",
        stack: "XML, Less, Grunt, SVN, jQuery",
        info: "Develop mew pages, refactor legacy layout",
        date: "12-2016 - 01-2017"
      },
      {
        name: "Internal project estimation app",
        stack: "Pug, Less, Angular.js",
        info: "Develop new pages, bugfixes",
        date: "11-2016 - 12-2016"
      },
      {
        logo: "images/ritg.png",
        company: "Russian IT Group"
      },
      {
        name: "RITG company site",
        stack: "Gulp, Pug, Less, Bootstrap 4, jQuery",
        info: "9 pages",
        date: "10-2016 - 11-2016"
      },
      {
        name: "Engliish/Chinese lessons landing",
        stack: "Gulp, Pug, SCSS, jQuery",
        info: "Landing page with animations on scroll",
        date: "10-2016"
      },
      {
        name: "Corporate university of Ulyanovsk oblast",
        stack: "Gulp, Pug, SCSS, jQuery, iconfont, Owl Carousel",
        info: "15 pages",
        date: "09-2016"
      },
      {
        name: "Alfavit clothes shop, Pride Wood construction materials shop",
        stack: "jQuery, Grunt",
        info: "Catalog, product page, bugfixes",
        date: "08-2016"
      },
      {
        name: "ENATP",
        stack: "jQuery",
        info: "Catalog, product page, user profile (logist, saler, buyer), bugfixes",
        date: "07-2016"
      },
      {
        name: "Belan Mebel furniture store",
        stack: "Gulp, Pug, Less, Bootstrap 4, jQuery, iconfont",
        info: "10 pages",
        date: "07-2016"
      },
      {
        name: "Crazy Beach clothes shop",
        stack: "HTML/CSS/jQuery",
        info: "Add new pages, rework legacy layout, crossbrowser fixes",
        date: "06-2016 - 07-2016"
      },
      {
        name: "Medprofi medical center",
        stack: "Gulp, Pug, Less, Bootstrap 4, jQuery, iconfont",
        info: "25+ pages",
        date: "04-2016 - 06-2016"
      },
      {
        logo: "images/logo.svg",
        company: "Kontora",
        date: "2015-2016"
      },
      {
        name: "Gobza, Pump equipment",
        stack: "Gulp, Pug, Less, jQuery, iconfont",
        info: "Products, detail page, delivery form, accessories, documents, google map. Content management in NetCat CMS.",
        date: "01-2016 - 03-2016"
      },
      {
        name: "Sokolov jewelry",
        stack: "Gulp, Pug, Less, jQuery, Bootstrap 3, iconfont",
        info: "Cart, User profile pages, Modals",
        date: "01-2016 - 03-2016"
      },
      {
        name: "Antipinsky Refinery",
        stack: "Gulp, Less, jQuery, Bootstrap 3, iconfont",
        info: "Management, policy, media resources",
        date: "12-2015 - 01-2016"
      },
      {
        name: "Sports shop",
        stack: "Gulp, Less, jQuery, iconfont, Slick carousel",
        info: "Cart, product view lists, A-Z list, News, Brands",
        date: "09-2015 - 12-2015"
      },
    ]
append vars

block content
  .section
    .container
      h1.h1 Projects
    ul.project-list
      each project in projects
        if (project.company)
          li.project-list__item.background-default
            .project
              .project__name
                img.project__logo(src= project.logo alt="company logo.")
              .project__info= project.info
              .project__date= project.date

        else
          li.project-list__item
            .project
              .project__name
                h3= project.name
                p= project.stack
              .project__info= project.info
              .project__date= project.date